{% extends 'base.html.twig' %}

{% block title %}Leave index{% endblock %}

{% block body %}
    <h1>Leave index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Reason</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for leave in leaves %}
            <tr>
                <td>{{ leave.id }}</td>
                <td>{{ leave.startDate ? leave.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ leave.endDate ? leave.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ leave.reason }}</td>
                <td>
                    <a href="{{ path('app_leave_show', {'id': leave.id}) }}">show</a>
                    <a href="{{ path('app_leave_edit', {'id': leave.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_leave_new') }}">Create new</a>
{% endblock %}
