{% extends 'base.html.twig' %}

{% block title %}TimeAttendance index{% endblock %}

{% block body %}
    <h1>TimeAttendance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CheckIn</th>
                <th>CheckOut</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for time_attendance in time_attendances %}
            <tr>
                <td>{{ time_attendance.id }}</td>
                <td>{{ time_attendance.checkIn ? time_attendance.checkIn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ time_attendance.checkOut ? time_attendance.checkOut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ time_attendance.date ? time_attendance.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_time_attendance_show', {'id': time_attendance.id}) }}">show</a>
                    <a href="{{ path('app_time_attendance_edit', {'id': time_attendance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_time_attendance_new') }}">Create new</a>
{% endblock %}
