{% extends 'base.html.twig' %}

{% block title %}Payroll{% endblock %}

{% block body %}
    <h1>Payroll</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payroll.id }}</td>
            </tr>
            <tr>
                <th>PayDate</th>
                <td>{{ payroll.payDate ? payroll.payDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ payroll.amount }}</td>
            </tr>
            <tr>
                <th>Deductions</th>
                <td>{{ payroll.deductions }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_payroll_index') }}">back to list</a>

    <a href="{{ path('app_payroll_edit', {'id': payroll.id}) }}">edit</a>

    {{ include('payroll/_delete_form.html.twig') }}
{% endblock %}
